# Database
MASTER_DB_CONNECTION=postgresql
MASTER_DB_HOST=db
MASTER_DB_DATABASE=postgres
MASTER_DB_USERNAME=postgres
MASTER_DB_PASSWORD=postgres
MASTER_DB_PORT=5432

READ_DB_CONNECTION=postgresql
READ_DB_HOST=db
READ_DB_DATABASE=postgres
READ_DB_USERNAME=postgres
READ_DB_PASSWORD=postgres
READ_DB_PORT=5432

# Server & Web
SERVER_PORT=2001
WEB_URL=http://localhost:2002
SERVER_URL=http://localhost:2001

# Email
EMAIL_HOST=sandbox.test.mailtrap.io
EMAIL_USERNAME=test
EMAIL_PASSWORD=test
EMAIL_PORT=test
AUD_SENDER_EMAIL=test@roominar.com
AUD_SENDER_NAME=Roominar
ORG_SENDER_EMAIL=test@roominar.com
ORG_SENDER_NAME=Roominar
EMAIL_ADMIN=test@gmail.com

# Token Expiry & Security
EMAIL_VERIFICATION_TOKEN_LENGTH=48
EMAIL_VERIFICATION_TOKEN_EXPIRE_MINUTES=10
RESET_PASSWORD_TOKEN_LENGTH=48
RESET_PASSWORD_TOKEN_EXPIRE_MINUTES=10
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_MINUTES=7
REFRESH_TOKEN_REMEMBERED_EXPIRE_MINUTES=30
VERIFY_CHANGE_EMAIL_TOKEN_LENGTH=48
VERIFY_CHANGE_EMAIL_TOKEN_EXPIRE_MINUTES=10
REVERT_EMAIL_TOKEN_LENGTH=48
REVERT_EMAIL_TOKEN_EXPIRE_MINUTES=1440

ALGORITHM=test
SECRET_KEY=test

# Stripe
STRIPE_SECRET_KEY=test
STRIPE_DEVICE_NAME=roominar-app
STRIPE_WEBHOOK_SECRET=test

# AI Keys
OPENAI_KEY=test
GEMINI_API_KEY=test

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0

# VNPAY
VNPAY_VNP_TMMCODE=test
VNPAY_VNP_HASHSECRET=test
VNPAY_VNP_URL=test

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Flower (if used later)
FLOWER_PORT=5555
