<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Roominar</title>
</head>

<body style="
		font-family: Arial, Helvetica, sans-serif;
		color: #6e6d6d;
		font-size: 16px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		">
	<div style="width: 600px; margin: 0 auto; font-size: 14px;">
		<a href="{{homepage_url}}" style="
				text-decoration: none;
				display: block;
				margin: 0 auto;
				font-size: 30px;
				padding: 40px;
				background-color: #ECFCF5;
				color: #006FEE;
				text-align: center;
				font-weight: 700;
			">
			Roominar 🎉
		</a>
		<div style="
        background-color: white;
        border: 1px solid #ECFCF5;
        padding: 25px 20px 10px;
        color: #333333;
				font-size: 16px;
      ">
			<p style="
          font-weight: 700;
          font-size: 26px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 40px;
        ">
				One More Step to Confirm Your New Email Address!
			</p>
			<div style="
			background-color: white;
			border: 1px solid #ECFCF5;
			padding: 25px 20px 10px;
			color: #333333;
			font-size: 16px;
	">
				<h3>Hi {{first_name}} 👋,</h3>

				<p>
					Change is exciting, and we’ve noted your request to update the email address for your account! 🎉
					Before we finalize everything, we just need one last confirmation from you.
				</p>

				<h4>🕒 What’s Happening?</h4>
				<p>
					On {{email_changed_at}}, you asked to change your email. To make sure it's really you, we need you to verify
					this new address.
				</p>

				<h4>🚀 Next Steps:</h4>
				<p>
					Click the link below to confirm the change and finalize your new email:
				</p>

				<button style="
					padding: 16px 30px;
					border-radius: 5px;
					background-color: #006fee;
					color: #fff;
					font-weight: 600;
					border: none;
					margin: 30px auto;
					display: block;
			">
					<a href="{{verify_change_email_url}}" style="color: #fff; text-decoration: none; font-size: 16px;">
						Confirm Email Change
					</a>
				</button>

				<p style="margin-top: 20px;">
					But don’t wait too long! ⏳ Your verification link will expire on {{expire_at}}. After that, the email change
					request will be cancelled for security reasons.
				</p>

				<h4>❗ Didn’t request this change?</h4>
				<p>
					If you didn’t ask to update your email, no problem. Just ignore this message, and your current email will stay
					the same. If you need assistance, reach out to us—we’ve got your back! 🛡️
				</p>

				<p>Thanks for keeping your account up to date and secure. See you soon!</p>

				<p>Warm regards,<br>The Roominar Team 🌟</p>
			</div>

		</div>
		<div style="
      margin-top: 20px;
      color: #666666;
    ">
			<table role="presentation" border="0" cellspacing="0" width="100%" style="
          text-align: center;
          margin: 40px 0;
        ">
				<tr style="font-size: 14px;">
					<td>
						<a style="color: #666666;" href="{{homepage_url}}">Roominar</a>
					</td>
					<td>
						<a style="color: #666666;" href="#">Contact</a>
					</td>
					<td>
						<a style="color: #666666;" href="#">Explore</a>
					</td>
					<td>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/linkedin.png" alt="linkedin"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/x.png" alt="x"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/facebook.png" alt="facebook"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/instagram.png" alt="instagram"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
					</td>
				</tr>
			</table>
			<p style="text-align: center; font-size: 14px;"> © Roominar Inc. All rights reserved.</p>
		</div>
	</div>
</body>

</html>
