<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Roominar</title>
</head>

<body style="
		font-family: Arial, Helvetica, sans-serif;
		color: #6e6d6d;
		font-size: 16px;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		">
	<div style="width: 600px; margin: 0 auto; font-size: 14px;">
		<a href="{{homepage_url}}" style="
				text-decoration: none;
				display: block;
				margin: 0 auto;
				font-size: 30px;
				padding: 40px;
				background-color: #ECFCF5;
				color: #006FEE;
				text-align: center;
				font-weight: 700;
			">
			Roominar 🎉
		</a>
		<div style="
        background-color: white;
        border: 1px solid #ECFCF5;
        padding: 25px 20px 10px;
        color: #333333;
				font-size: 16px;
      ">
			<p style="
          font-weight: 700;
          font-size: 26px;
          text-align: center;
          margin-top: 0;
          margin-bottom: 40px;
        ">
				Successfully verification
			</p>
			<div>
				<h3>Hi, {{first_name}} </h3>
				<p>
					Thank you for completing your registration with roominar!. Please feel free to participate in various events.
				</p>
				<p>

					Receive updates on topics of interest!
				<p style="white-space: pre-line;"> By setting your fields of interest on your "My Profile", you can receive the
					latest updates on those topics via our email newsletter. </p>
				</p>


				<p style="margin-left: 10px;">
					<a href="{{my_profile_page_url}}" style="
						color: #006FEE;
						text-decoration: none;
						border-bottom: 1px solid #006FEE;
						padding-bottom: 2px;
						font-size: 15px;
					">
						▶ Setting your fields of interest
					</a>
				</p>

				<div style="border-radius: 8px; margin: 40px 0;">
					<h3 style=" color: #006FEE; font-size: 18px; margin-bottom: 0;">
						Participate in webinars and events that interest you!
					</h3>
					<p style="white-space: pre-line;">
						Explore and participate in webinars and events that pique your interest.
						You may find information that you couldn't find elsewhere on the web.
					</p>
					<p style="margin-left: 10px;">
						<a href="{{search_page_url}}" style="
							color: #006FEE;
							text-decoration: none;
							border-bottom: 1px solid #006FEE;
							padding-bottom: 2px;
							font-size: 15px;
						">
							▶ View the event list
						</a>
					</p>
				</div>

			</div>
		</div>
		<div style="
      margin-top: 20px;
      color: #666666;
    ">
			<table role="presentation" border="0" cellspacing="0" width="100%" style="
          text-align: center;
          margin: 40px 0;
        ">
				<tr style="font-size: 14px;">
					<td>
						<a style="color: #666666;" href="{{homepage_url}}">Roominar</a>
					</td>
					<td>
						<a style="color: #666666;" href="#">Contact</a>
					</td>
					<td>
						<a style="color: #666666;" href="#">Explore</a>
					</td>
					<td>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/linkedin.png" alt="linkedin"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/x.png" alt="x"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/facebook.png" alt="facebook"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
						<a href="#" style="text-decoration: none;">
							<img src="https://d3pww53a0zff91.cloudfront.net/media/mail/icon/instagram.png" alt="instagram"
								style="width: 22.5px; margin: 0 5px;" />
						</a>
					</td>
				</tr>
			</table>
			<p style="text-align: center; font-size: 14px;"> © Roominar Inc. All rights reserved.</p>
		</div>
	</div>
</body>

</html>
