.Btn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  gap: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  padding: 0 10px;
  border-radius: 6px;
}

.Btn::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: '';
  background-color: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: 0.5s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transform: translate(0, -50%);
}

.Btn:active {
  transform: translateY(4px);
  transition-duration: 0.3s;
}
